*{
  margin:0;
  padding:0;
}
.card{
  margin:30px auto;
  width: 300px;
  height: 300px;
}
.thumbnail-card{
  flex-wrap: wrap;
  max-width: 140px;
  max-height: 140px;
}
/* .carousel-template{
 
} */